In [1]:
#Import dependencies

import pandas as pd
from pathlib import Path

In [2]:
#Load the appropriate datasets and read them

vaccination_data_to_load = Path("/Users/ahmedmansour/Desktop/datacourse/vaccinations1.csv")
manufacturer_data_to_load = Path("/Users/ahmedmansour/Desktop/datacourse/vaccinations-by-manufacturer1.csv")

vaccination_data = pd.read_csv(vaccination_data_to_load)
manufacturer_data = pd.read_csv(manufacturer_data_to_load)

In [3]:
vaccination_data.head()

,location,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters,daily_vaccinations_raw,daily_vaccinations,total_vaccinations_per_hundred,people_vaccinated_per_hundred,people_fully_vaccinated_per_hundred,total_boosters_per_hundred,daily_vaccinations_per_million,daily_people_vaccinated,daily_people_vaccinated_per_hundred
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,NaN,NaN,1367.0,NaN,NaN,NaN,NaN,33.0,1367.0,0.003

In [4]:
manufacturer_data.head()

    location        date             vaccine  total_vaccinations
0  Argentina  2020-12-29  Oxford/AstraZeneca                   1
1  Argentina  2020-12-29   Sinopharm/Beijing                   1
2  Argentina  2020-12-29           Sputnik V               20493
3  Argentina  2020-12-30           Sputnik V               40595
4  Argentina  2020-12-31           Sputnik V               43401

In [5]:
#Drop the unnecessary columns in each dataset and rearrange to be more logical
new_vaccine_df = vaccination_data.drop(columns=["iso_code","daily_vaccinations_raw", "total_vaccinations_per_hundred", "people_vaccinated_per_hundred", "people_fully_vaccinated_per_hundred", "daily_vaccinations_per_million", "daily_people_vaccinated","daily_people_vaccinated_per_hundred", "total_boosters_per_hundred"])
new_order = ["location", "date", "daily_vaccinations","total_vaccinations", "people_vaccinated", "people_fully_vaccinated", "total_boosters"]
refined_vaccine_df = new_vaccine_df[new_order]
refined_vaccine_df.head()

,location,date,daily_vaccinations,total_vaccinations,people_vaccinated,people_fully_vaccinated,total_boosters
0,Afghanistan,2021-02-22,NaN,0.0,0.0,NaN,NaN
1,Afghanistan,2021-02-23,1367.0,NaN,NaN,NaN,NaN
2,Afghanistan,2021-02-24,1367.0,NaN,NaN,NaN,NaN
3,Afghanistan,2021-02-25,1367.0,NaN,NaN,NaN,NaN
4,Afghanistan,2021-02-26,1367.0,NaN,NaN,NaN,NaN

In [6]:
#merge the datasets and clean up total vaccinations column
merged_df = pd.merge(refined_vaccine_df, manufacturer_data,on=["location", "date"])
merged_df.head()

,location,date,daily_vaccinations,total_vaccinations_x,people_vaccinated,people_fully_vaccinated,total_boosters,vaccine,total_vaccinations_y
0,Argentina,2020-12-29,NaN,20495.0,20492.0,2.0,1.0,Oxford/AstraZeneca,1
1,Argentina,2020-12-29,NaN,20495.0,20492.0,2.0,1.0,Sinopharm/Beijing,1
2,Argentina,2020-12-29,NaN,20495.0,20492.0,2.0,1.0,Sputnik V,20493
3,Argentina,2020-12-30,20102.0,40597.0,40589.0,7.0,1.0,Sputnik V,40595
4,Argentina,2020-12-31,11454.0,43403.0,43395.0,7.0,1.0,Sputnik V,43401

In [7]:
#rename total vaccinations columns
merged_cleaned_df = merged_df.rename(columns={"daily_vaccinations": "Daily Vaccinations", "total_vaccinations_x": "Total Vaccinations per Location", "people_vaccinated": "People with First Dose", "people_fully_vaccinated": "People Fully Vaccinated", "total_boosters": "Total Booster Doses", "total_vaccinations_y": "Total Vaccinations per Manufacturer"})
merged_cleaned_df.head()

,location,date,Daily Vaccinations,Total Vaccinations per Location,People with First Dose,People Fully Vaccinated,Total Booster Doses,vaccine,Total Vaccinations per Manufacturer
0,Argentina,2020-12-29,NaN,20495.0,20492.0,2.0,1.0,Oxford/AstraZeneca,1
1,Argentina,2020-12-29,NaN,20495.0,20492.0,2.0,1.0,Sinopharm/Beijing,1
2,Argentina,2020-12-29,NaN,20495.0,20492.0,2.0,1.0,Sputnik V,20493
3,Argentina,2020-12-30,20102.0,40597.0,40589.0,7.0,1.0,Sputnik V,40595
4,Argentina,2020-12-31,11454.0,43403.0,43395.0,7.0,1.0,Sputnik V,43401

In [8]:
unique_names = merged_cleaned_df["vaccine"].unique()
print(unique_names)

['Oxford/AstraZeneca' 'Sinopharm/Beijing' 'Sputnik V' 'Pfizer/BioNTech'
 'Moderna' 'CanSino' 'Sputnik Light' 'Johnson&Johnson' 'Novavax'
 'Sanofi/GSK' 'Valneva' 'Medicago' 'Sinovac' 'Covaxin' 'SKYCovione']

In [9]:
unique_countries = merged_cleaned_df["location"].nunique()
unique_countries

44